<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.listeners.Testinfo"></listener>
		<!--<listener class-name="com.listeners.AnnotationListerners"></listener>-->
	</listeners>
	<test name="Android Test">
		<classes>
			<!--			<class name="com.tests.Siddhi" />-->
			<class name="com.tests.Hsmart_addtionalcases"></class>
		</classes>
	</test>
</suite>

